@charset "UTF-8";
html {
  font-family: "Arial", "メイリオ";
}

body {
  margin: 0;
}

/* ===ヘッダー=== */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 0 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_title h1 a {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  margin: 16px 0;
  color: black;
}

header .header_title h1 a:hover {
  color: #e65f78;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 56px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  margin: 16px 0;
  padding: 0 0 0 40px;
  list-style: none;
}

header nav li a {
  margin-left: 30px;
  color: black;
  text-decoration: none;
}

header nav li a:hover {
  color: #e65f78;
}

/* ===ハンバーガーメニュー=== */
.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  /* 元は60px。ここを触るとスマホ幅変わる */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
  background-color: #dcdcdc;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #dcdcdc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*アニメーション設定*/
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

@media screen and (max-width: 599px) {
  header {
    height: 60px;
    padding-left: 20px;
  }
  header nav ul li {
    display: none;
  }
  header .hamburger-menu {
    display: block;
  }
}

@media screen and (min-width: 598px) {
  .hamburger-menu {
    display: none;
    /*598px以上では使用しない */
  }
}

/* ===ファーストビュー=== */
.firstview {
  width: 100%;
  height: 664px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://suimenka.github.io/slack_pf/1stview.png");
  background-size: cover;
  position: relative;
}

.firstview::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.firstview .firstview_title {
  z-index: 30;
  margin: auto;
}

.firstview .firstview_title h2 {
  color: #ffffff;
  font-weight: normal;
}

.firstview .firstview_title span {
  font-size: 60px;
  font-weight: normal;
}

@media screen and (max-width: 599px) {
  .firstview {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: auto;
  }
  .firstview .firstview_title span {
    font-size: 40px;
  }
}

/* ===アバウト=== */
.aboutme {
  padding: 70px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme .aboutme_img img {
  width: 536px;
  height: 333px;
  border-radius: 10px;
}

.aboutme .aboutme_content {
  width: 634px;
  height: 333px;
}

.aboutme .aboutme_content h2 {
  margin: 0 0 20px 0;
  font-weight: normal;
}

.aboutme .aboutme_content p {
  margin: 16px 0;
}

.aboutme .aboutme_content ul {
  margin: 40px 0;
  padding-left: 0;
}

.aboutme .aboutme_content li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.aboutme .aboutme_content .i1 {
  color: #000;
}

.aboutme .aboutme_content .i1:hover {
  color: #e65f78;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 599px) {
  .aboutme {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px 0;
    padding: 0 20px 20px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .aboutme .aboutme_img img {
    width: 100%;
    height: auto;
  }
  .aboutme .aboutme_content {
    width: 100%;
  }
}

/* ===スキル=== */
.skill {
  height: 713px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
}

.skill .skill_title {
  height: 50px;
  margin-bottom: 40px;
}

.skill .skill_title h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

.skill .skill_content {
  margin-top: 30px;
}

.skill .skill_content table {
  width: 1293px;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 50px;
}

.skill .skill_content table tr {
  border-bottom: 1px solid #eee;
}

.skill .skill_content table tr:hover {
  background-color: #d4f0fd;
  cursor: pointer;
}

.skill .skill_content table td,
.skill .skill_content table th {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.skill .skill_content table td.icon {
  background-size: 25px;
  background-position: left 70px center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.skill .skill_content table td.icon.html {
  background-image: url("https://suimenka.github.io/slack_pf/html-5.png");
}

.skill .skill_content table td.icon.css {
  background-image: url("https://suimenka.github.io/slack_pf/css-3.png");
}

.skill .skill_content table td.icon.js {
  background-image: url("https://suimenka.github.io/slack_pf/javascript.png");
}

.skill .skill_content table td.icon.vue {
  background-image: url("https://suimenka.github.io/slack_pf/vue.png");
}

.skill .skill_content table td.icon.nuxt {
  background-image: url("https://suimenka.github.io/slack_pf/nuxt-icon.png");
}

.skill .skill_content table td.icon.fb {
  background-image: url("https://suimenka.github.io/slack_pf/firebase.png");
}

.skill .skill_content table td.icon.node {
  background-image: url("https://suimenka.github.io/slack_pf/nodejs.png");
}

@media screen and (max-width: 599px) {
  .skill {
    padding-bottom: 70px;
  }
  .skill .skill_content table {
    width: 90%;
    margin: 20px;
  }
  .skill .skill_content table td.icon {
    background-position: left;
  }
}

/* === ワークス === */
.works {
  padding: 70px 5%;
}

.works .works_title {
  margin-bottom: 40px;
}

.works .works_title h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

.works ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.works li {
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  width: 32%;
  margin-bottom: 20px;
}

.works img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.works .works_content {
  padding: 10px 20px;
}

.works .works_content h3 {
  font-weight: normal;
  letter-spacing: 1px;
}

.works .works_content p {
  font-size: 14px;
}

.works .works_content .card_number {
  font-size: 22px;
  text-align: right;
}

.works .works_content a {
  font-size: 12px;
}

.works .works_content .more {
  text-decoration: none;
  border-bottom: dashed 1px black;
  font-size: 12px;
  color: black;
  cursor: pointer;
}

.works .works_content .more:hover {
  color: #e65f78;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-bottom: dashed 1px #e65f78;
}

@media screen and (max-width: 599px) {
  .works {
    width: auto;
    padding-top: 40px;
  }
  .works ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works ul li {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/* === タイムライン === */
.timeline {
  background-color: #f9f9f9;
  padding: 70px 72px;
}

.timeline .timeline_title {
  margin-bottom: 40px;
}

.timeline .timeline_title h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

.timeline .timeline_content .timeline_line {
  padding-bottom: 40px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-right: 2px dashed #cfcdcd;
}

.timeline .timeline_content .timeline_line.timeline_line2 {
  border-left: 2px dashed #cfcdcd;
  border-right: none;
  margin: 0 0 0 auto;
}

.timeline .timeline_content .hisi {
  width: 11px;
  height: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #cfcdcd;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 0 2px #cfcdcd;
          box-shadow: 0 0 0 2px #cfcdcd;
  position: absolute;
  right: -11px;
  top: -11px;
}

.timeline .timeline_content .hisi.hisi_2 {
  position: absolute;
  /* right: -11px; */
  top: 100%;
}

.timeline .timeline_content .content_box {
  width: 80%;
  padding: 10px;
  color: #748182;
}

.timeline .timeline_content .content_box span {
  color: #e65f78;
  font-weight: bold;
}

.timeline .timeline_content .content_box h3 {
  font-size: 22px;
  font-weight: normal;
  color: black;
}

.timeline .timeline_content .content_box:hover {
  border: 2px dashed #cfcdcd;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.timeline .timeline_content .content_box:hover h3 {
  color: #e65f78;
}

.timeline .timeline_content .content_box .content_1 {
  text-align: right;
}

.timeline .timeline_content .content_box .content_2 {
  margin: 0 0 0 auto;
  text-align: left;
}

.timeline .timeline_content .timeline_yoko {
  width: 20%;
  height: 62px;
  border-bottom: 2px dashed #cfcdcd;
}

.timeline .timeline_content .timeline_yoko.yoko2 {
  border-left: 2px dashed #cfcdcd;
}

@media screen and (max-width: 599px) {
  .timeline {
    width: auto;
    padding: 30px 30px 70px 30px;
  }
}

/* === コンタクト === */
.contact {
  margin: 0 auto;
  width: 40%;
  padding: 70px 72px;
}

.contact .contact_title {
  margin: 0 0 40px;
}

.contact .contact_title h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 33px;
}

.contact .contact_title p {
  text-align: center;
  margin: 16px 0;
}

.contact .contact_content {
  margin-top: 30px;
}

.contact .contact_content form {
  margin: 0 auto;
}

.contact .contact_content form input,
.contact .contact_content form textarea {
  width: 100%;
  background: #e9cdc1;
  border-style: none;
  border-radius: 5px;
}

.contact .contact_content form input {
  height: 50px;
  margin-bottom: 40px;
}

.contact .contact_content form textarea {
  margin-bottom: 20px;
}

.contact .contact_content form input#check {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.contact .contact_content form button {
  width: 50%;
  height: 50px;
  background: black;
  color: white;
  border-style: none;
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  font-size: 16px;
}

.contact .contact_content form button:hover {
  background: #e65f78;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 599px) {
  .contact {
    width: auto;
    padding: 30px;
  }
}

/* ===フッター=== */
footer {
  height: 110px;
  padding: 20px 0;
  text-align: center;
  background-color: black;
  margin-bottom: 0;
}

footer ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

footer li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

footer .i2 {
  color: #fff;
}

footer .i2:hover {
  color: #e65f78;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

footer p {
  font: 16px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */